
img {
    align-content: center;
    height: auto;
    width: 200px;
    position: sticky;
    left:425px;
    border:1px solid black}


div.align-center {
    text-align: center;}

ul.centre {
display: inline-block;
    text-align: center;
    color: blue;}
